<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Car List</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container my-2">
      <h2>Car' List</h2>
      <a th:href="@{/car/create}" class="btn btn-primary btn-sm mb-3"
        >Create Car</a
      >

      <table border="1" class="table table-striped table-responsive-md">
        <thead>
          <tr>
            <th scope="col">Car Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Color</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="car: ${cars}">
            <td th:text="${car.carName}"></td>
            <td th:text="${car.carColor}"></td>
            <td th:text="${car.carQuantity}"></td>
            <td>
              <a
                th:href="@{'/car/edit/' + ${car.carId}}"
                class="btn btn-info btn-sm"
                >Edit</a
              >
            </td>
            <td>
              <form th:action="@{/car/delete}" method="post">
                <input type="hidden" th:name="carId" th:value="${car.carId}" />
                <button type="submit" class="btn btn-danger btn-sm">
                  Delete
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
