<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <title>Eshop</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="relative flex flex-col gap-8 min-h-screen items-center py-10">
      <h1 class="text-2xl font-inter font-bold">Let's Shop</h1>

      <div class="w-[25%] flex flex-col gap-2">
        <a
          th:href="@{/product/create}"
          class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 text-center"
          id="create-product-button"
          >Create Product</a
        >
        <a
          th:href="@{/product/list}"
          class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 text-center"
          id="list-product-button"
          >List Product</a
        >

        <a
          th:href="@{/car/create}"
          class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 text-center"
          id="list-product-button"
          >Create Car</a
        >

        <a
          th:href="@{/car/list}"
          class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 text-center"
          id="list-product-button"
          >List Car</a
        >
      </div>
    </div>
  </body>
</html>
