<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Product List</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
    </head>
    <body>
        <div class="container my-2">
            <h2>Product' List</h2>
            <a th:href="@{/product/create}" class="btn btn-primary btn-sm mb-3"
                id="create-button"
                >Create Product</a
                >

            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product: ${products}">
                        <td th:text="${product.productId}" id="product"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productQuantity}"></td>
                        <td>
                            <form th:action="@{/product/delete}" method="post">
                                <input
                                    type="hidden"
                                    th:value="${product.productId}"
                                    th:name="productId"
                            />
                                <input
                                    type="hidden"
                                    th:value="${product.productName}"
                                    th:name="productName"
                            />
                                <input
                                    type="hidden"
                                    th:value="${product.productQuantity}"
                                    th:name="productQuantity"
                            />
                                <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                                </button>
                            </form>
                          
                        </td>
                        <td>
                            <a
                                th:href="@{'/product/edit/' + ${product.productId}}"
                                class="btn btn-primary btn-sm"
                                >
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
            ></script>
    </body>
</html>
